# copy this config file template to config.ini

[credentials]
username = myusername
password = 123456
server= xxx.webuntis.com
school= schoolname

[mail]
host = mailserver
user = username
pass = 123456
